@media only screen and (max-width: 768px) {

  .logo {
    margin-left: 0;
  }

  .navbar-nav {
    width: 100%;
    background-color: #17D88B;
    height: 20rem;    
  }

  #menu a {
    color: #000;
  }

  #menu a:hover {
    color:#000;
    opacity: 0.5;
  }

  .foto-ligia {
    display: flex;
    justify-content:center;
    margin: 2rem auto;    
    float: none; 
  }
  
  .imagem-quote {
    height: 38rem;
  }
  

  #sobre {
    margin-left: auto;
    margin-right: auto;
  }

  #sobre p {
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .metodos {    
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    max-width: 90%;   
  }

  .btn-metodologia {
    margin-left: 70%;
  }

  .w-100 {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    justify-content: center;
}

.imagem-carrosel {
  height: 20rem;
  max-width: 34rem;
}

.carousel-indicators {
  margin-bottom: 2rem;
}

  .contato-select,
  .grupo-radio {
    width: auto;
    box-sizing: content-box;
  }

  .titulo-video {   
    display:flex;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 2rem;
}

#video, iframe {
  display: block;
  width: 100%;     
  margin-left: 0;
  justify-content:center;
}

  .col-sm-6 {
    width: 100%;
    margin-left: 0;
  }

  .contato h2 {
    margin-top: 10px !important;
  }
  
  .icons {    
    margin-left: 65%;
    margin-top: 10px;
    width: 100%;
    max-width: 25rem;
  }
  
  .redes-sociais {
    padding: 0;
    margin-left: 65%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) { /*falta ajustar*/

  .logo {
    
  }

  .navbar-nav {
    width: 100%;
    background-color: #17D88B;
    height: 20rem;    
  }

  #menu a {
    color: #000;
  }

  #menu a:hover {
    color:#000;
    opacity: 0.5;
  }

@media only screen and (min-width: 360px) and (max-width: 576px) { 
  .logo {
    margin-right: 60%;
  }
  
  .navbar {
    justify-content:center;
  }

  .imagem-quote {
    height: 38rem;
  }

  .btn-metodologia {
    margin-left: 55%;
  }

  .contato-select,
  .grupo-radio {
    width: auto;
    box-sizing: content-box;
  }

  #video, iframe {
    display: block;
    width: 100%;     
    margin-left: 0;
    justify-content:center;
  }
  
  .titulo-video {   
    white-space: nowrap;
  }

  .col-sm-6 {
    width: 100%;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .contato {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .contato h2 {
    margin-top: 10px !important;
  }

  #mensagem {
    column-width: 10px;
  } 

  address {
    height: 6rem;
  }
  
  .icons {
    margin-left: 5px;    
  }

  .redes-sociais {
    padding: 0;
    margin-left: 5px;
    margin-top: 5rem;
  }

  footer {
    height: 250px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 580px) {
  .foto-ligia {
    display: flex;
    justify-content:center;
    margin: 2rem auto;    
    float: none; 
  }

.btn-metodologia {
  margin-left: 55%;
}
  
  .contato {
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
  }

  .redes-sociais {
    padding: 0;
    margin-left: 5px;
    margin-top: 5rem;
  }

  address {
    height: 5em;
  }

  footer {
    height: 22rem;
  }
}
}