@media only screen and (max-width: 768px) {
  .quote h3,
  h4 {
    color: #fff;
  }
  .foto-ligia {
    margin-top: 30px;
    margin-left: 280px;
  }
  .servicos {
    height: 110rem;
  }
  .imagem-quote {
    height: 30.5rem;
  }
  #sobre p {
    margin-left: 5%;
    margin-right: 5%;
  }
  #servicos {
    height: 75rem;
  }
  #servicos h1 {
    margin-left: auto;
    margin-top: -35px;
  }
  .container-card {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
  }
  .foto_servicos {
    display: none;
  }
  .content {
    height: 8000px;
  }
  .contato-select,
  .grupo-radio {
    width: auto;
    box-sizing: content-box;
  }
  .titulo-video {
    margin-left: 10px;
  }
  .col-sm-6 {
    width: 100%;
    margin-left: -140px;
  }
  #contato h2 {
    margin-top: 10px !important;
  }
  .btn-primary {
    margin-left: 120%;
  }
  .icons {
    margin-left: 29.5rem;
  }
  .redes-sociais {
    padding: 0;
    margin-left: 75%;
  }
}

@media only screen and (min-device-width: 360px) and (max-width: 576px) {
  .quote h3,
  h4 {
    color: #fff;
  }
  .foto-ligia {
    margin-left: 70px;
  }
  #servicos h1 {
    margin-left: auto;
    margin-top: -40px;
  }
  .container-card {
    margin: 0 auto;
    margin-top: 40px;
  }
  .contato-select,
  .grupo-radio {
    width: auto;
    box-sizing: content-box;
  }
  .titulo-video {
    margin-left: 11.6rem;
    white-space: nowrap;
  }
  .col-sm-6 {
    width: 100%;
    margin-left: -140px;
  }
  #contato {
    margin-left: -5px;
  }
  #contato h2 {
    margin-top: 10px !important;
  }
  #mensagem {
    column-width: 10px;
  }
  .btn-primary {
    margin-left: 120%;
  }
  .icons {
    margin-left: 5px;
  }
  .redes-sociais {
    padding: 0;
    margin-left: 5px;
    margin-top: 1em;
  }
  footer {
    height: 350px;
  }
}

@media only screen and (min-device-width: 540px) and (max-width: 540px) {
  .quote h3,
  h4 {
    color: #fff;
  }
  .foto-ligia {
    margin-left: 150px;
  }
  #servicos h1 {
    margin-left: 150%;
  }
  .container-card {
    margin-left: -50px;
  }
  #contato {
    margin-left: -50px;
  }
  .icons {
    margin-left: 20.8rem;
    margin-top: 10px;
  }
  .redes-sociais {
    padding: 0;
    margin-left: 65%;
    margin-top: -150px;
  }
  address {
    height: 5em;
  }
  footer {
    height: 195px;
  }
}
