*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*html*/

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

/*Body*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../src/img/imagem_servicos.jpg);
  background-size: 100%;
  background-attachment: scroll;
  margin: 0 auto;
  padding: 0;	
  height: 100vh;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
}

#wrapper {
  max-width: 134rem;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  margin: auto;
  padding: 0;   
  min-width: 18.75rem; 
  max-width: 87.5rem;  
}

/*Nav*/

.container-nav {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;  
}

.navbar {
  background-color: rgb(35, 36, 141);
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;  
}

.navbar-dark .navbar-nav .nav-link {
  font-weight: bold;
}

.logo {
  margin-left: 15rem;
  display: inline-block;
}

/*Quote*/

.quote h1 {
  margin-top: 0;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
}

.quote h2 {
  font-size: 2rem;
  font-weight: bold;
}

.quote h3 {
  background-size: cover;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.quote h4 {
  background-size: cover;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1, 66rem;
}

.imagem-quote {
  height: 35rem;
  background: url("../src/img/foto_header2.jpg") no-repeat;
  background-size: cover;  
  text-align: center;
  padding-top: 5rem;
  vertical-align: top;
  width: 100%;  
  margin: auto;
  border-radius: 0.2rem;
}

.titulo h1 {
  color: #0389F7;
  /*background-image: linear-gradient(#92c8f5, #4a9ce9);*/
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: auto;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Sobre*/

#sobre {
  margin-top: 4rem;
}

#sobre p {
  text-align: justify;
  justify-content: center;
  max-width: 55%;
  margin-top: 0.5rem;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;  
  margin-bottom: 4.5rem;
}

.foto-ligia {
  border-radius: 50%;
  width: 22rem;
  height: 21rem;
  margin-top: 6rem;  
  margin-right: 2rem;
  margin-left: auto;
  float:left;
  position: relative;
  display: block;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

/* Didática */

.metodos-estudos h2 {
  color:#212529;
  display: flex;
  justify-content:center;
  align-items: center;    
  margin-left: 6rem;
}

.metodos h3 {
  font-weight: bold;;
}
.metodos p {
  display: grid;
  grid-template-columns: auto auto;    
  margin-bottom: 3rem;
  margin-left: 6rem;
}

.metodos {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 4rem 1rem;
  width: 100%;
}

.grid-icone {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-right: 0.625rem;
  height: 9.375rem;
}

.icone-metodos {   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50px;
  background:#053742; 
  float: left;
  margin: 0 0.9375rem;    
}

.txt-metodos {
  margin-top: 3rem;;
  align-items: center;
  text-align: center;
}

.btn-metodologia {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;  
  background:#2b38e9;
  color: #fff;
  border: none;
  border-radius: 40px; 
  font-size: 13px;
  font-weight: 600;
  height: 5.125rem;
  padding: 14px 30px; 
  cursor: pointer;
  font: inherit;
  
}

.btn-metodologia:hover{
  opacity: 0.6;    
}

.btn-bg:hover {
  color: #fff;
  opacity: 0.5;
}

.btn-bg:focus {
  box-shadow: 0 0 0 0.25rem rgb(134, 140, 233);
}

/*Depoimentos*/

.imagem-carrosel {
  height: 50rem;
}

.w-100 {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;

}

/*Vídeo Institucional - Contato*/

.titulo-video {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.institucional {
  background-color: #67aae9;
  width: 100%;
  margin: 0;
}

.row {
  max-width: 134rem !important;
  width: 92% !important;
  margin: 0 auto !important;
}

#video {
  margin-top: 4rem;
  margin-left: -3rem;
}

.col-sm-6 {
  margin-left: 3rem;
}

.form-control {
  font-size: 1.5rem;
}

#contato h2 {
  font-weight: bold !important;
  font-size: 1.8rem !important;
  margin-top: 5rem !important;
  margin-bottom: 1rem !important;
}

.contato-select,
.grupo-radio {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.grupo-radio .radio:first-child {
  margin-top: 0;
}

#contato .btn {
  font-size: 1.5rem;
}

/*Footer*/

footer {
  background-color: rgb(35, 36, 141);
  color: #fff;
  padding: 2rem !important;
  height: 16rem;
  max-width: 134rem;
  width: 100%;
  margin: 0 auto !important;
}

footer address:last-child {
  margin-bottom: 0;
}

.input-group-addon {
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 40rem;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

.textarea {
  resize: vertical;
  margin-left: -32rem;
  margin-top: 5rem;
  border-radius: 0.4rem;
}

.btn-primary {
  margin-bottom: 3.5rem;
  display: block;  
}

address {
  height: 8rem;
}

.redes-sociais {
  padding: 0;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: -19rem;
  width: 100%;
}

.icons {
  display: inline-block;
  margin-left: 68rem;
  margin-top: 1rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.icons a {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background: rgb(174, 180, 236);
  color: #000;

  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-size: 2.3rem;
  text-decoration: none;
}

.icons a:hover {
  transform: translateY(-1rem);
  opacity: 0.5;
}
